header {
  width: 100%;
  height: 70px;
  position: relative;
  margin-bottom: 50px;
}
.headerWrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(171, 246, 194);
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerWrap div {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.headerSpace {
  width: 100%;
  height: 70px;
}
