header {
  width: 100%;
  height: 70px;
  margin-bottom: 50px;
}
.headerWrap {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 1200px;
  height: 70px;
  background-color: rgba(163, 235, 182, 0.648);
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerWrap div {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.headerSpace {
  width: 100%;
  height: 70px;
}
