.Active_btn_wrap {
  width: 200px;
  height: 50px;
  margin-bottom: 50px;
}
.Active_btn_wrap button {
  font-size: 20px;
}
.listAddWrap {
  margin-bottom: 30px;
}
.submit_btn_wrap {
  width: 100px;
  height: 30px;
}
.input_error {
  position: absolute;
  right: 23px;
  bottom: 55px;
  color: rgb(186, 80, 80);
  font-size: 13px;
  font-weight: 600;
}
